<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=ex01/C:\/Users\/romik\/.m2\/repository\/org\/bgee\/log4jdbc-log4j2\/log4jdbc-log4j2-jdbc4.1\/1.16\/log4jdbc-log4j2-jdbc4.1-1.16.jar=/maven.pomderived=/true=/=/org.eclipse.jst.component.dependency=/\/WEB-INF\/lib=/=/maven.pomderived=/true=/=/maven.groupId=/org.bgee.log4jdbc-log4j2=/=/maven.artifactId=/log4jdbc-log4j2-jdbc4.1=/=/maven.version=/1.16=/=/maven.scope=/compile=/"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ex01"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
