<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	


	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- 기본 설정의 로그는 info 레벨이기 때문에 warn과 같이
		 좀 더 높은 레벨의 로그만 기록하게 수정하면, 테스트 코드를 실행할 때
		 이전에 비해 로그의 양이 줄어들게 할 수 있습니다. -->
		<logger name="jdbc.audit" >
     		 <level value="warn" />
   		</logger>
	   
	   <logger name="jdbc.resultset" >
	     	 <level value="warn" />
	   </logger>
	   
	   <logger name="jdbc.connection" >
	    	  <level value="warn" />
	   </logger>
   
	<!-- Application Loggers -->
	<logger name="org.zerock.controller">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>	
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
		 
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
