@charset "utf-8";

/* 코트라 희망체 적용 : https://noonnu.cc/font_page/767 */
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: TAEBAEKmilkyway;
}

/* 네비게이션 바 작성 */
.navbar-brand{
    color: #fff !important;
}

.navbar-brand img{
    width: 80px;
    height: 55px;
    margin-top: 5px;
    vertical-align: top !important;
    
}

.navbar-brand p{
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    height: 33px;
}

.mybox{
    background-color: rgba(0, 0, 0, .8);
}

.navbar-nav li {
    margin-left: 70px;
}

.navbar-nav li a {
    font-size: 20px;
    color: #fff !important;
}

.nav-link:hover{
    color: #ffdf00 !important;
}

.nav-link:focus{
    color: #ffdf00 !important;
}

/* dropdown-menu 설정 변경 */
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid black;
    margin-top: 14px;
}

.navbar-toggler{
    background-color: #fff;
}

.dropdown-item:hover{
    /* dropdown 변경 사항 적용 */
    background: none !important;
    color: #ffdf00 !important;
}


/* 서브 텍스트 내용 작성 */
.section{
    margin: 100px 0;
    padding: 50px 0;
    background-color: #fff;
}

.section .row{
    margin-bottom: 50px;
}

.section .row div{
    text-align: center;
    line-height: 30px;
}

.section .row div img{
    width: 50px;
    margin-bottom: 30px;
}

.row{
    margin-top: 20px;
}

.row div{
    margin-top: 40px;
}

/* 갤러리 이미지 carousel 적용 : https://getbootstrap.com/docs/4.6/components/carousel/ */
.gallery-box{
    background-color: #eee;
    padding: 85px 0 1px 0;
    margin-top: 350px;
}
.gallery-box h1{
    text-align: center;
    font-size: 40px;
}
.carousel{
    margin-bottom: 200px;
}
.carousel-inner div{
    padding-top: 0;
}
#logocontainer{
    margin-bottom: 200px;
}
#tubular-shield{
    z-index: 0 !important;
}

/* 기타 안내 사항 작성 */
.ontop2 {
    color:#fff;
    font-size:2em;
    padding: 400px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* 푸터 작성 */
.card-footer{
    background: #000;
}
footer div p{
    color: #fff;
}


/* tubular 적용 */
#wrapper{
    z-index: 1 !important;
}

.ontop{
    color: #fff;
    font-size: 2em;
    padding: 280px 0 355px 50px;
    text-align: left;
}


.ontop h5{
    color: white;
    font-weight: bold;
    padding: 0 0 0 60px;
}